PORT=3000
NODE_ENV=production
APP_NAME=Sistema de Envios
APP_URL=https://sistema-envios.ddpromociones.com
TIMEZONE=America/La_Paz
SESSION_SECRET=CAMBIA_ESTA_CLAVE_POR_OTRA_NUEVA
DATA_DIR=/app/data
UPLOADS_DIR=/app/uploads
DEFAULT_USERS=kamil,soledad,dell,mikela,benjamin,rodrigo,kevin1
DEFAULT_PIN=123456
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ventas.androidpc@gmail.com
SMTP_PASS=TU_CLAVE_DE_APLICACION_GMAIL
SMTP_FROM_NAME=Sistema de Envios Android PC
SMTP_FROM_EMAIL=ventas.androidpc@gmail.com
REPORT_EMAILS=diego.dell.fer@gmail.com,ventas.androidpc@gmail.com
REPORT_DAY=saturday
REPORT_TIME=18:00
REPORT_IMPORTANT=true
