PORT=3000
NODE_ENV=production
APP_NAME=Sistema de Envios
APP_URL=https://androidpc.tech
TIMEZONE=America/La_Paz
SESSION_SECRET=CAMBIA_ESTA_CLAVE_POR_OTRA_NUEVA
DATA_DIR=/app/data
UPLOADS_DIR=/app/uploads
DEFAULT_USERS=kamil,soledad,dell,mikela,benjamin,rodrigo,Kevin
DEFAULT_PIN=123456

# Base de datos Postgres (usada por server.js y por el servicio "postgres" del docker-compose)
POSTGRES_USER=sistema_envios
POSTGRES_PASSWORD=CAMBIA_ESTA_CLAVE_POSTGRES
POSTGRES_DB=sistema_envios
DATABASE_URL=postgres://sistema_envios:CAMBIA_ESTA_CLAVE_POSTGRES@postgres:5432/sistema_envios
PGSSL=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ventas.androidpc@gmail.com
SMTP_PASS=TU_CLAVE_DE_APLICACION_GMAIL
SMTP_FROM_NAME=Sistema de Envios Android PC
SMTP_FROM_EMAIL=ventas.androidpc@gmail.com
REPORT_EMAILS=diego.dell.fer@gmail.com,ventas.androidpc@gmail.com
REPORT_DAY=saturday
REPORT_TIME=18:00
REPORT_IMPORTANT=true
